.weekend-tile {
  border-radius: 50% !important;
  color: red !important;
}
.weekday-tile {
  border-radius: 50% !important;
}
.reactCalender {
  border: none !important;
  /* width: 400px !important; */
  /* height: 400px !important; */
}

.main {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 8px 0px;
}

.slot-container {
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}

.slot-container.show-slots {
  opacity: 1;
}
.pic {
  border-radius: 50%;
}
.slotbook {
  border-right: 1px solid #dee2e6;
}

#sloth:hover {
  background-color: green;
}
.details {
  margin-top: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.details > p {
  margin: 0;
}
.details svg {
  font-size: 20px;
  min-width: 19px;
}
.booked svg {
  font-size: 50px;
  min-width: 39px;
  line-height: 40px;
}
.booked {
  font-weight: 900;
  margin: 0;
}
